<div id="header">
    <div class="container">
        <div class="text-center ">

            <h1 class="text-center">We Owe </h1>
                <h2 class="subtitle text-center">A drop of water is worth more than a sack of gold to a thirsty man ! Ab har ghar pe pani bahega! </h2>
                <h3 class="text-center">
                    Our mission is to help the needy people who have encountered
                    hardships and are struggling to survive without running water in their homes.
                    We do not need to rely on charities or government. 
                    We help people raise funds to pay their water bills !
                </h3>



            <div class="col-lg-6" ng-hide="currentUser">
                <h1>Need Help?</h1>
            </div>
                <div class="">
                    <h1>Help Someone</h1>
                    <button ng-click="go('/view/all')" type="button" class="btn btn-lg btn-primary" ng-show="currentUser">Find People in Need</button>
                </div>
              
                <br />
            <div ng-hide="currentUser">

                <h3>Sign in or Sign up below</h3>

                <div class="row">
                    <hr />
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" id="loginForm">
                        <form class="" id="loginForm" ng-hide="currentUser">

                            <div class="form-group">
                                <input ng-model="user.username" type="text" placeholder="Username" class="form-control">
                            </div>
                            <div class="form-group">
                                <input ng-model="user.password" type="password" placeholder="Password" class="form-control">
                            </div>

                            <button ng-click="login(user)" type="submit" class="btn btn-success">Sign In</button>

                            <button ng-click="go('/register')" type="button" class="btn btn-warning">Sign Up</button>

                        </form>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>

    </div>
</div>



